<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/game.css">
    <title>BOTC Tracker - Game</title>
</head>
<body>
    <div class="main-circle-container">
        <div class="item" style="--i: 1;">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
        <div class="item" style="--i: 2;">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
        <div class="item" style="--i: 3;">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
        <div class="item" style="--i: 4;">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
        <div class="item" style="--i: 5;">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
    </div>
    <button onclick="createNewSeat()">Add seat</button>
    <button onclick="removeSeat()">Remove seat</button>

    <script src="/static/js/game.js"></script>
</body>
</html>