<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/game.css">
    <title>BOTC Tracker - Game</title>
</head>
<body>
    <div id="seatData" data-seat-data='{{ seatData | tojson }}'></div>
    <div id="gameData" data-game-data='{{ gameData | tojson }}'></div>
    <div class="main-circle-container">
        <div class="item" style="--i: 1;" onclick="seatMenu(this)" id="1">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
        <div class="item" style="--i: 2;" onclick="seatMenu(this)" id="2">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
        <div class="item" style="--i: 3;" onclick="seatMenu(this)" id="3">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
        <div class="item" style="--i: 4;" onclick="seatMenu(this)" id="4">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
        <div class="item" style="--i: 5;" onclick="seatMenu(this)" id="5">
            <img src="/static/images/TokenBG.png" class="token-img">
        </div>
    </div>

    <button onclick="createNewSeat()">Add seat</button>
    <button onclick="removeSeat()">Remove seat</button>
    <button onclick="saveData()">Save Data</button>

    <div class="seatMenu" id="seatMenu">
        <div class="menu_seatCharacter">
            <img src="/static/images/TokenBG.png" id="menu_seatCharacter_BG" class="menu_seatCharacter_BG">
        </div>
        <textarea class="menu_seatNotes" id="menu_seatNotes"></textarea>
        <p class="menu_seatName" id="menu_seatName">Temp</p>
        <button onclick="closeSeatMenu()" class="menu_seatClose" id="menu_seatClose">Close</button>
    </div>

    <script src="/static/js/game.js"></script>
</body>
</html>